@import url('https://fonts.googleapis.com/css?family=Chelsea+Market');

html {
cursor: url(yoob.cur), auto;
}

body {
cursor: url(yoob.cur), auto;
background:#551100;
background:linear-gradient(#551100,#993300,#551100);
scroll-behavior:smooth;
text-align:center;font-family:arial,sans-serif;font-weight:bold;color:white
}
a:link{color:#ccccff;font-weight:bold;text-decoration:none}
a:visited{color:#aaaaff;font-weight:bold;text-decoration:none}
a:hover{color:yellow;font-weight:bold;text-decoration:none}
a:active{color:yellow;font-weight:bold;text-decoration:none}
h2{text-align:center;
margin-bottom:35px;
margin-top:20px;
font-family:'Chelsea Market', cursive;font-size:80px;
font-weight: 900;
text-transform:uppercase;
color:rgba(230,130,100,0.5);
text-shadow: 4px 4px 0px rgba(255,110,50,0.5);
}
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d60; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #f30; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d10; 
}
.gameImg {
margin: 5px;
border-style: outset;
border-color: #e20;
border-width: 10px;
height: 180px;
border-radius: 20px;  
box-shadow:20px 20px 10px rgba(0, 0, 0, 0.2);
}
.gameImg:hover {
filter: brightness(150%);
}
.gameImg, a, a:active, button {
cursor: url(yoob.cur), auto;
}
.sizeButton{
padding:2px 10px;
background:#003388;
background-image:linear-gradient(#003388,#0000aa,#003388);
border:3px outset #dad9d8;
font-family:arial,sans-serif;
font-size:1em;letter-spacing:0.05em;color:#fff;
border-radius:15px;
box-shadow:10px 10px 5px #330000;
margin-bottom:20px;
}
#sizeButton:hover{
background-image:linear-gradient(#0055ff,#0000cc,#0055ff);
}
#promoBoys {
border: 0px;
border-bottom: 10px solid blue;
border-top: 10px solid blue;
width: 728px;
height: 90px;
overflow: hidden
}
#promoGirls {
border: 0px;
border-bottom: 10px solid magenta;
border-top: 10px solid magenta;
width: 728px;
height: 90px;
overflow: hidden
}
#privacyText {
text-align: left
}
#logoPlayPip {
margin: auto;
margin-top:50px;
display: block;
width:50vw;
min-width: 100px;
}
.button1{
border:3px solid #880055; margin-bottom:10px;
border-radius: 15px 5px 15px 5px;
font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
background-image: linear-gradient(#aa0055, #dd55aa, #aa0055);
box-shadow:10px 10px 5px #330000;
}
.button1:hover{
border:3px solid #aa0088; 
background-image: linear-gradient(#cc0077, #ff77cc, #cc0077);
}
.button2{
border:3px solid #003dcc; margin-bottom:10px;
border-radius: 15px 5px 15px 5px;
font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
background-image: linear-gradient(#0055cc, #3399ff, #0055cc);
box-shadow:10px 10px 5px #330000;
}
.button2:hover{
border:3px solid #1155dd; 
background-image: linear-gradient(#1177ee, #44aaff, #1177ee);
}
.button3{
border:3px solid #33aa00; margin-bottom:10px;
border-radius: 15px 5px 15px 5px;
font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
background-image: linear-gradient(#66cc00, #88ee00, #66cc00);
box-shadow:10px 10px 5px #330000;
}
.button3:hover{
border:3px solid #55bb00; 
background-image: linear-gradient(#99cc00, #bbff22, #99cc00);
}

#footerText {
margin: 5px;
padding: 1vh;
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}